  <%= notice %>
<div class="jumbotron vertical-center">
  <div class="container">
    <h3><%= @user.name %></h3>
    <ul>
      <li>Age: <%= @user.age %></li>
      <li>Gender: <%= @user.gender %></li>
      <li>Status: <%= @user.status %></li>
      <li>Preference: <%= @user.preference %></li>
      <li>Location: <%= @user.location %></li>
      <li>Photos: <%= @user.photos %></li>
    </ul>
    <ul class="nav nav-pills">
      <li><%= link_to 'See My Matches', matches_path %></li>
      <% if session[:user_id] == @user.id %>
          <li><a href=<%= edit_user_path %>>Update Info</a></li>
          <li><a href=<%= new_interest_path %>>Add Interests</a></li>
      <% else %>
        
          <% match = Match.match_exist(current_user, @user) %>
          <% if match.empty? || match[0].display_option(current_user.status) == 'like'%>
            <li><%= link_to 'Like', matches_path(id: @user.id), method: :post, :class => "like"%></li>
          <% elsif match[0].display_option(current_user.status) == 'disabled' %>
            <li><%= link_to 'Liked', '#', :class => "like" %></li>
          <% else %>
            <li><%= link_to 'Chat', match[0].conversation %></li>
          <% end %>
       
      <% end %>
    </ul>
  </div>
</div>

 </div>