<% @matches.each do |match| %>

  <li>Name: <%= match.name %></li>
  <li>Gender: <%= match.gender %></li>
  <li>Status: <%= match.status %></li>
  <li>Preference: <%= match.preference %></li>
  <li>Location: <%= match.location %></li>
  <li>Interests: <%= match.interests %></li>
  <li>Photos: <%= match.photos %></li>
  <li><%= link_to match_path(match.id) %></li><br>
<% end %>