<h2>Sign up</h2>


<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, placeholder: "Enter name" %>
  </div>

  <div class="field">
  <%= f.label :dob, "Date of Birth" %><br />
  <%= f.date_select :dob, start_year: Time.now.year - 100, end_year: Time.now.year - 18  %>
  </div>

  <div class="field">
  <%= f.label :gender %><br />
  <%= f.select :gender, ['M', 'F', 'GQ', 'Trans', 'Other'] %>
  </div>

  <div class="field">
  <%= f.label :preference %><br />
  <%= f.select :preference, ['Male', 'Female', 'Both'] %>
  </div>

  <div class="actions">
  <%= f.submit "Sign up" %>
  </div>
<% end %>



