
<div class='jumbotron conversation'>
  <div class="well well-sm">
    <%= form_for @message do |f| %>
    <%= f.text_area :content, placeholder: 'tell her you love her'  %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>
    <%= f.hidden_field :user_id, value: current_user.id %><br>
    <%= f.submit 'Send', class: "btn btn-primary"%>
    <% end %>
  </div>

  <div class = 'well chatbox'>

  </div>
</div>