<div class='jumbotron'>
<%= current_user.name %>
Rate Your Interest for the Following Activities:
<%= form_tag(add_interests_path, method: 'POST') do %>
  <% @interests.each do |interest| %>
    <%= label_tag interest.id, interest.interest_name %><br>
    <%= label_tag '1' %> <%= radio_button_tag interest.id, 1 %>
    <%= label_tag '2' %><%= radio_button_tag interest.id, 2 %>
    <%= label_tag '3' %><%= radio_button_tag interest.id, 3 %>
    <%= label_tag '4' %><%= radio_button_tag interest.id, 4 %>
    <%= label_tag '5' %><%= radio_button_tag interest.id, 5 %><br>
  <% end %>
  <%= submit_tag 'Set Interests', class: 'btn btn-primary' %>
<% end %>
</div>