<%= notice %>

<ul>
  <li>Name: <%= @user.name %></li>
  <li>Age: <%= @user.age %></li>
  <li>Gender: <%= @user.gender %></li>
  <li>Status: <%= @user.status %></li>
  <li>Preference: <%= @user.preference %></li>
  <li>Location: <%= @user.location %></li>
  <!-- <li>Interests:
    <ul> 
   <% @user.interests.each do |interest| %>
    <li><%= interest.interest_name %></li>
    <% end %>
    </ul>
  </li>   -->
  <li>Photos: <%= @user.photos %></li>
</ul>

<%= link_to 'See My Matches', matches_path %><br><br>
 <div class="like_box">
<% if session[:user_id] == @user.id %>
  <%= link_to 'Update Info', edit_user_path %><br>
  <%= link_to 'Add Interests', new_interest_path %>
<% else %>
 
  <% match = Match.match_exist(current_user, @user) %>
  <% if match.empty? || match[0].display_option(current_user.status) == 'like'%>
    <%= link_to 'Like', matches_path(id: @user.id), method: :post%>
  <% elsif match[0].display_option(current_user.status) == 'disabled' %>
    <%= link_to 'Liked', '#' %>
  <% else %>
    <%= link_to 'Chat', match[0].conversation %>
  <% end %>

<% end %>

 </div>