<div class="jumbotron log_in">
  <h2 style="text-align:center; margin-bottom:20px;">Log In</h2>
  <%= form_tag sessions_path do %>

      <div class="field">
          <%= label_tag :email %><br>
          <%= text_field_tag :email%>
      </div>
      <div class="field">
        <%= label_tag :password %><br>
        <%= password_field_tag :password%>
      </div><br>
      <div class="action">
        <%= submit_tag 'Log In', :class=>"btn btn-primary" %>
      </div>

  <% end %>
</div>
<%= notice %>

