<!DOCTYPE html>
<html>
<head>
  <title>In Case Of Trump</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">In Case of Trump</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href=<%= root_path%>>Home <span class="sr-only">(current)</span></a></li>

          <% if !current_user %> 
            <li><a href=<%= signup_path %>>Sign Up</a></li>
          <% else %>
            <li><a href=<%= user_path(current_user) %>>My Profile</a></li>
            <li><a href=<%= matches_path %>>Matches</a></li>
          <% end %> 
          
        </ul>
        <% if current_user %>          
          <ul class="nav navbar-nav navbar-right">
            <li><a href=<%= logout_path %>>Log Out</a></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=<%= login_path %>>Log In</a></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

</head>
<body>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
